html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: 'Alegreya', serif;
}

// Heading Elements
h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 18px;
}


// Padding
.padding {
  padding: 85px 0;
}