// Contact-form-style

// social-links 
.contact-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  @media all and (max-width: 1024px) {
    width: 100%;
    grid-template-columns: auto;
  }

  .back-circle {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: #333333;
    position: relative;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .fas {
    color: white;
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .address {
    text-transform: capitalize;
  }

  p {
    padding: 0;
  }

  .address-info {
    font-size: 1.2rem;
    color: #333333;
    text-align: center;
    font-weight: bold;
  }
}

// contact-form-section 
.outer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media all and (max-width: 1024px) {
    width: 100%;
    grid-template-columns: auto;
  }

  .form-container {
    background-color: #333333;
    padding: 60px 0;
  }

  .form-heading {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
  }

  .form-box {
    text-align: center;
  }

  input,
  textarea {
    background-color: transparent;
    padding: 18px;
    margin: 12px 24px;
    border-radius: 8px;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    @media all and (max-width: 1024px) {
      width: 65%;
      border: 1px solid white;
    }
  }

  textarea {
    width: 65%;
    height: 80px;
    @media all and (max-width: 1024px) {
      // width: 100%;
    }

  }

  ::placeholder {
    text-transform: capitalize;
    color: white;
    text-align: left;
    font-size: 1rem;
  }
  .placeholder-fix:focus::-webkit-input-placeholder  {color:transparent;}
  .placeholder-fix:focus::-moz-placeholder   {color:transparent;}
  .placeholder-fix:-moz-placeholder   {color:transparent;}

  .btn {
    background-color: rgb(187, 47, 47);
    padding: 18px 24px;
    border: 0;
    outline: 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 30px;
    cursor: pointer;
    opacity: 1;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
      font-size: 1rem;
    }
  }

  .map {
    height: 100%;
  }
}