// .background-plastic{
//     background-image: url(../media/plastic.jpg);
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     width: 100%;
//     font-size: 0;
// }
// .container{
//     max-width: 1360px;
//     margin: 50px auto;
// }

.event-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

// .img-event{
//     font-size: 0;
//     width: 100%;
//     object-fit: cover;
//     height: 300px;
//     border-radius: 50%;
// }
// .plastic-div, .tree-div, .clean-div{
//     border: 2px solid #FBDD00;
//     padding: 10px;
//     text-align: justify;
// }

.heading-events {
    text-align: center;
}