.main-footer {
    background-color: #091B27;
    color: rgb(209, 204, 198);
    h3 {
        padding-bottom: 40px;
        font-size: 1.6rem;
        text-align: center;
    }
    p {
        font-size: 1.2rem;
        text-align: justify;
        color: rgb(185, 179, 179);
    }
    .col {
        padding: 12px;
        h4 {
            font-size: 1.4rem;
            color: rgb(5, 252, 128);
            padding-bottom: 4px;
        }
        h5 {
            font-size: 1.2rem;
        }
    }
    .mission-col {
        padding-right: 26px;
    }
}    

.main-footer-row {
    max-width: 1480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
}    

.footer-gallery-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-gallery-img >a{
    height: 100%;
    padding: 4px;
    img {
        height: 100%;
    }
}

// Diamond Social Link
.footer-social {
  margin: 0 auto;
  text-align:center;
  padding: 14px;
  width: 280px;
} 

.footer-social a {
  margin: 0 12px;
  text-align: center;
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  transform: rotate(45deg);
  line-height: 25px;
  transition: all 500ms ease;
}
.footer-social a i {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    padding: 12px;
    font-size:24px
}

.nav-fb {
    background-color: #3b5998;
}
.nav-tweet {
    background-color: #00aced;
}
.nav-yout {
    background-color: #bb0000;
}
.nav-insta {
    background-color: #517fa4;
}
.nav-pin {
    background-color: #cb2027;
}
.nav-linked {
    background-color: #007bb6;
}


/* hover */
.footer-social a:hover{
    color: #fff;
}
.footer-social a:hover{
    background: #111;
}

.contact-footer {
    padding: 20px 0;
    justify-content: space-around;
}

.contact-text {
    width: 70%;
}

.far, .fa-phone-alt {
    font-size: 1rem;
    background-color:  #1a0836;
    border-radius: 50%;
    padding: 0.75rem;
    color: rgb(248, 247, 247);
    border: 1px solid white;
}

.footer {
    background-color: #071721;
    color: white;
    padding: 24px 0;
}

.footer p {
    font-size: 1rem;
}

.footer a {
    color: #60BC0F;
}

.footer a:hover {
    color: rgb(216, 162, 101);
}

@media all and (max-width:900px) {
    .main-footer-row {
        grid-template-columns: 1fr;
        .col {
            padding: 10px 36px;
        }
        .social-links {
           justify-content: center;
           .fab {
                margin: 20px;
           }
        }
        .contact-text {
            margin-left: 20px;
        }   
        .contact-footer {
           justify-content: center;
       }   
    }
}