.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, fr);
}