
// Genral CSS

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Vollkorn', serif;
}

.text-center {
  text-align: center;
}

// Heading Elements

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
}

.padding {
  padding: 80px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, fr);
}

@media all and (max-width: 900px) {
  html {
      font-size: 14px;
  }
}