.header {
    background-color: transparent;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    padding: 16px;
}

.header-container {
    max-width: 1480px;
    margin: 0 auto;
}

.logo-text {
    color: white;
    font-size: 2rem;
}

.top-nav-links a {
    color: white;
    font-size: 1.25rem;
    margin-left: 32px;
}

a:hover {
    color: red;
}