// General classes
.our-Volunteer {
  background-color: #e4e7eb;
}

.tag-line {
  color: #85403a;
}

.team-size-max {
  &:hover {
    cursor: pointer;
    transition: all .7s ease-in-out;
    transform: scale(0.9);
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.5);
  }
}

.social-links {
  padding-bottom: 15px;
}

.social-links .links {
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 100%;
  height: 320px;
  border-radius: 3px;
  object-fit: cover;
}

.volunteer-info {
  h4 {
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 12px 0;

    &:hover {
      color: green;
    }
  }

  p {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #85403a;
  }
}

.link-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  position: relative;
  margin-top: 12px;
}

.link-circle {
  background-color: rgb(6, 0, 87);
  padding: 16px;
}

.links a i {
  color: white;
}

.fab-link {
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;

  &:hover {
    color: rgb(226, 169, 82);
  }
}

.bottom-padding {
  padding-bottom: 4rem;
}

// our-member-section
.our-member {
  grid-gap: 35px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media all and (max-width: 900px) {
    width: 100%;
    grid-template-columns: auto;
    grid-gap: 40px 0;
    padding: 40px 0;
  }
}

// our-volunteer
.volunteer-face {
  display: grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap: 45px 20px;
  @media all and (max-width: 900px) {
    width: 100%;
    grid-template-columns: auto;
    grid-gap: 40px 0;
    padding: 40px 0;
  }
  
  .volunteer-size-max {
    img {
      height: 250px;
    }
    &:hover {
      cursor: pointer;
      transition: all .5s ease-in-out;
      transform: scale(0.9);
      box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.5);
    }
  }
}