.container-why{
    max-width: 1260px;
    margin: 5rem auto;
}
.html-why{
    font-size: 20px;
    small{
        font-size: 0.8rem;
    }
    p{
        font-size: 1rem;
    }
}
.small-fact{
    text-align: center;
}
.general-div{
    display: grid;
    grid-template-columns:150px 1fr 150px 1fr;
    grid-gap: 1.5rem;
}