/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, *, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

img {
  font-size: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: 'Alegreya', serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 18px;
}

.padding {
  padding: 85px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fr)[2];
      grid-template-columns: repeat(2, fr);
}

.about-html {
  font-size: 20px;
}

.about-html body {
  background-color: #F8F3E8;
}

.mission-div, .vision-div, .motive-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3rem 0;
  border: 1px solid #56c756;
  -webkit-box-shadow: 1px 1px 1rem  2px  grey;
          box-shadow: 1px 1px 1rem  2px  grey;
  padding: 1rem;
  background-color: #DDAE52;
}

.mission-div:hover, .vision-div:hover, .motive-div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mission-img {
  width: 100%;
  font-size: 0;
}

.mission-img-div {
  font-size: 0;
}

.about-header-div {
  padding: 1.5rem;
}

.about-header-div .mission-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-header-div .mission-para {
  margin-bottom: 1rem;
}

.about-header-div a {
  text-decoration: underline;
}

.about-header-div a:hover {
  color: red;
}

.div-donation {
  background-color: black;
  width: 25rem;
  height: 10rem;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-donation h3 {
  font-size: 4rem;
}

.div-donation p {
  color: white;
  font-size: 2rem;
}

@media all and (max-width: 768px) {
  .about-html {
    font-size: 14px;
    text-align: justify;
  }
  .mission-div, .vision-div, .motive-div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.gallery-html {
  font-size: 20px;
}

.container-gallery {
  max-width: 1260px;
  margin: 5rem auto;
}

.gallery-heading {
  font-size: 4rem;
  margin: 5rem 0;
  text-align: center;
  font-family: 'Merienda One', cursive;
  text-transform: uppercase;
}

.gallery-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.gallery-img {
  font-size: 0;
  grid-column: span 1;
  margin: 0;
  padding: 0;
}

.gallery-img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.73s;
  transition: -webkit-transform 0.73s;
  transition: transform 0.73s;
  transition: transform 0.73s, -webkit-transform 0.73s;
  -webkit-box-shadow: 1px 1px 10px 10px coral;
          box-shadow: 1px 1px 10px 10px coral;
}

.img-pic {
  font-size: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 768px) {
  .gallery-html {
    font-size: 14px;
    text-align: justify;
  }
  .gallery-div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container-why {
  max-width: 1260px;
  margin: 5rem auto;
}

.html-why {
  font-size: 20px;
}

.html-why small {
  font-size: 0.8rem;
}

.html-why p {
  font-size: 1rem;
}

.small-fact {
  text-align: center;
}

.general-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr 150px 1fr;
      grid-template-columns: 150px 1fr 150px 1fr;
  grid-gap: 1.5rem;
}
/*# sourceMappingURL=style.css.map */