/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, *, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: transparent;
}

img {
  font-size: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
}

.header-container {
  max-width: 1480px;
  margin: 0 auto;
}

.logo-text {
  color: white;
  font-size: 2rem;
}

.top-nav-links a {
  color: white;
  font-size: 1.25rem;
  margin-left: 32px;
}

a:hover {
  color: red;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 18px;
}

.padding {
  padding: 100px 0;
}

.hero-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 1, 10, 0.5)), to(rgba(3, 1, 10, 0.5))), url(../media/home-banner.webp);
  background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)), url(../media/home-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner .hero-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 280px 0;
  color: white;
}

.hero-banner .first-hero-heading {
  font-weight: 500;
  color: #FDBB00;
  padding-bottom: 20px;
}

.hero-banner .second-hero-heading {
  font-weight: 800;
  padding-bottom: 20px;
}

.hero-banner .hero-content p {
  padding: 0 76px;
  font-size: 1rem;
}

.btn {
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 30px;
}

.donate-btn {
  background-color: #60BC0F;
}

.join-us-btn {
  background-color: #FDBB00;
  margin-left: 10px;
}

.donate-btn a, .join-us-btn a {
  color: white;
}

.box-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.box-grid .col {
  padding: 80px 40px;
  font-weight: 200;
  font-size: 0.75rem;
}

.box-grid .col-1 {
  background-color: #e04d39;
  color: white;
}

.box-grid .col-2 {
  background-color: #313131;
  color: white;
}

.box-grid .col-3 {
  background-color: #f5b73c;
  color: black;
}

.box-grid .read-more-btn {
  background-color: white;
}

.box-grid .read-more-btn a {
  color: black;
}

.box-grid p {
  padding: 20px 0;
}

.fact-counter-sec {
  background-color: #d0ebec;
}

.fact-container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

.fact-count-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 60px 0;
}

.fact-count-row .col {
  text-align: center;
  padding: 80px 40px;
}

.fact-count-row .col1 {
  background-color: #e0dfdf;
}

.fact-count-row .col2 {
  background-color: #ffffff;
}

.fact-count-row img {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}

.fact-count-row p {
  padding-top: 20px;
}

.become-volunteer-sec {
  background-image: url(../media/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.become-volunteer-sec p {
  padding: 20px 0;
}

.become-volunteer-sec .btn {
  border-radius: 5px;
}

.become-volunteer-sec .btn a {
  color: black;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fr)[4];
      grid-template-columns: repeat(4, fr);
}

.main-footer {
  background-color: #091B27;
  color: #d1ccc6;
}

.main-footer h3 {
  padding-bottom: 40px;
  font-size: 1.6rem;
  text-align: center;
}

.main-footer p {
  font-size: 1rem;
  text-align: justify;
  color: #b9b3b3;
}

.main-footer .col {
  padding: 24px;
}

.main-footer .col h4 {
  font-size: 1.2rem;
  color: #05fc80;
  padding-bottom: 4px;
}

.main-footer .col h5 {
  font-size: 1rem;
}

.main-footer-row {
  max-width: 1480px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.gallery-img img {
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
}

.social-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-links a {
  font-size: 1.5rem;
  color: white;
}

.fab {
  background-color: blue;
  padding: 0.75rem;
  border-radius: 50%;
}

.fa-facebook {
  background-color: #3E578F;
}

.fa-twitter {
  background-color: #28A9E0;
}

.fa-youtube {
  background-color: #D62628;
}

.fa-instagram {
  background-color: #9D36B9;
}

.contact-text {
  width: 80%;
}

.contact-footer {
  padding: 20px 0;
}

.far, .fa-phone-alt {
  font-size: 1.4rem;
  background-color: #e0a912;
  border-radius: 50%;
  padding: 0.75rem;
  color: white;
}

.footer {
  background-color: #071721;
  color: white;
  padding: 24px 0;
}

.footer p {
  font-size: 1rem;
}

.footer a {
  color: #60BC0F;
}

.footer a:hover {
  color: #d8a265;
}
/*# sourceMappingURL=style.css.map */